<header>
    <div class="hero">
        <section class="layout">
            <h1 id="title">Modern Mind</h1>
        </section>
    </div>
    <div class="navigation">

            <ul class="nav">
                <li><a href="/"><i class="fa fa-home"></i>Home</a> </li>
                <li><a href="/architects"><i class="fa fa-building-o"></i>Architects</a> </li>
            </ul>
    </div>
</header>