<article class="designClasses">
    <h2>Upcoming Presentations and Speakers</h2>
    <hr>

        <img src=" <%= appdata.meeting.img %>" >
    <h3>
        <%= appdata.meeting.title %>
        </h3>
    <p>
        <%= appdata.meeting.date %>
        <%= appdata.meeting.time %>
    </p>
</article>