<h1>What We Do</h1>
<p>We are Moder Mind, a website centered around showing and reveling in all things
man has recently done that is so one-of-a-kind, we had to show it.</p>
<p>Our main focus for the site is going to be on architecture, and some of the
most modern-day architects that have literally changed the way we look at things.   </p>
<p>This is only a short list, but a list of some of the most profound and dare I say
some of the greatest architects this world has ever known. </p>