<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs %>
<section class="layout">
    <div class="primary">
        <% include content/intro.ejs %>
        <% include content/designClasses.ejs %>
    </div>
<aside class="secondary">
    <% include content/homeBuildings.ejs %>
</aside>
</section>
<% include partials/footer.ejs %>
<% include partials/defaultJavaSCript.ejs %>
</body>
</html>
